.sidebar-container {
  width: 250px;
  background: hsl(300, 4%, 5%);
  height: 100vh;
  color: hwb(0 95% 3%);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar-links a:hover,
.sidebar-links a.active {
  background-color: #13cc41;
  color: #fff;
}
